@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hero{
    background-image: url("/public/bg_hero.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}